@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Telegraf;
    font-weight: 300;
    src: url(/src/font/telegraf-regular.ttf);
  }
  @font-face {
    font-family: Telegraf;
    font-weight: 400;
    src: url(/src/font/telegraf-semibold.ttf);
  }

  body {
    font-family: Telegraf;
  }
}

@layer components {
  .redirect-items {
    @apply relative items-center justify-center
            text-center font-medium
            w-96 h-auto
            mt-3 mb-3 mx-auto
            px-28 py-3
            rounded-full shadow-2xl
            bg-white text-t-blue
            hover:bg-t-blue hover:text-white
            transition-all duration-300 ease-in-out
            
            cursor-default;
  }
  .avatar {
    @apply relative self-center
            w-32 h-32
            bg-hero-avt bg-cover bg-no-repeat bg-top
            rounded-full ring-0 border-2
            shadow-md
            ;
  }
}